<section class="blog-post">
    <h1><%= blogPost.getText('blog-post.title-' + lang) %></h1>

    <div class="blog-lead">
        <%- blogPost.getStructuredText('blog-post.lead-' + lang).asHtml() %>
    </div>

    <article>
    <%
        var slices = blogPost.getSliceZone('blog-post.body-' + lang).slices;
        for(var i = 0; i < slices.length; i++) {
            var slice = slices[i];

            switch(slice.sliceType) {
                case 'text':%>
                    <%- slice.value.asHtml() %>
                    <%
                    break;
                case 'image-with-caption':
                    var fragments = slice.value.toArray()[0].fragments;%>
                    <figure>
                        <img src="<%= fragments.image.url %>" alt="<%= fragments.image.asText() %>">
                        <% if(fragments.caption) { %>
                        <figcaption><%- fragments.caption.asHtml() %></figcaption>
                        <% } %>
                    </figure>
                    <%
                    break;
            }
        }
    %>
    </article>

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "mainEntity": {
            "@type": "BlogPosting",
            "url": "https://company.acomodeo.com/blog/<%= blogPost.uid %>",

            "headline": "<%= blogPost.getText('blog-post.title-' + lang) %>",
            "image": "<%= blogPost.getImage('blog-post.previewImage').url %>",

            "keywords": "<%= blogPost.getGroup('blog-post.keywords').toArray()[0].getText(lang) %>",
            "wordcount": "<%= blogPost.getSliceZone('blog-post.body-' + lang).asText().split(" ").length %>",

            "datePublished": "<%= blogPost.firstPublicationDate %>",
            "dateCreated": "<%= blogPost.firstPublicationDate %>",
            "dateModified": "<%= blogPost.lastPublicationDate %>",

            "description": "<%= blogPost.getStructuredText('blog-post.lead-' + lang).asText() %>",
            "articleBody": "<%= blogPost.getSliceZone('blog-post.body-' + lang).asText() %>",
            "publisher": { "@id": "https://company-page.develop.acomodeo.com" },
            "author": { "@id": "https://company-page.develop.acomodeo.com" }
        }
    }

    </script>

</section>
