<section id="blog-preview" class="blog-preview">
    <h2>Blog</h2>
    <%
    var self = slice.value.toArray()[0];
    var tag = self.getText('tag');

    for(var i = 0; i < self.getNumber('number'); i++) {
        var act = blog[i];

        if(!act) { break; }

        if(tag == null || act.tags.indexOf(tag) != -1) {
    %>
    <div>
        <img src="<%= act.getImage('blog-post.previewImage').url %>" alt="<%= act.getImage('blog-post.previewImage').asText() %>">
        <div>
            <h2>
                <small><%= act.getDate('blog-post.date').toLocaleDateString() %></small><br>
                <a href="blog/<%= act.uid %>">
                    <%= act.getText('blog-post.title-' + lang) %>
                </a>
            </h2>
            <p><%= act.getStructuredText('blog-post.lead-' + lang).asText() %></p>
            <a href="blog/<%= act.uid %>"><%= __('readMore') %></a>
        </div>
    </div>
    <% }} %>
</section>
