<section class="contact-form">
    <h2><%= slice.value.toArray()[0].getText('heading-' + lang) %></h2>

    <div class="person">
        <img src="https://prismic-io.s3.amazonaws.com/aco-company-page/82fddba3066fac3407df3e8438009ea20923fbbd_161103_p1010655_sw_300dpi.jpg">
        <h4>Isabell Heller</h4>
        <p>Sales Key Account Manager</p>
    </div>

    <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
        <input type="hidden" name="oid" value="00D24000000bPPL">
        <input type="hidden" name="retURL" value="http://localhost:5555/customers">
        <input type="hidden" name="lead_source" id="lead_source" value="Web">
        <input type="hidden" name="recordType" id="recordType" value="012240000001lz1AAA">

        <label for="firstname" translate="customers.form.firstname" class="ng-scope">
            <%= __('firstname') %>
            <input class="form-control" id="firstname" maxlength="40" name="first_name" size="20" type="text" placeholder="Vorname">
        </label>

        <label for="lastname" translate="customers.form.lastname" class="ng-scope">
            <%= __('lastname') %>
            <input class="form-control" id="lastname" maxlength="80" name="last_name" size="20" type="text" placeholder="Nachname">
        </label>

        <label for="email" translate="customers.form.email" class="ng-scope">
            E-Mail
            <input class="form-control" id="email" maxlength="80" name="email" size="20" type="text" placeholder="E-Mail" required="">
        </label>

        <label for="industry" translate="customers.form.industry" class="ng-scope">
            <%= __('phone') %>
            <input id="phone" maxlength="40" name="phone" size="20" type="text" placeholder="Telefon">
        </label>

        <label for="company" translate="customers.form.company" class="ng-scope">
            <%= __('company') %>
            <input class="form-control" id="company" maxlength="40" name="company" size="20" type="text" placeholder="Firma">
        </label>

        <label for="employees" translate="customers.form.employees" class="ng-scope">
            <%= __('numberOfEmployees') %>
            <input class="form-control" id="employees" name="employees" size="20" type="text" placeholder="Anzahl der Mitarbeiter">
        </label>

        <label for="revenue" translate="customers.form.revenue" class="ng-scope">
            <%= __('revenue') %>
            <input class="form-control" id="revenue" name="revenue" size="20" type="text" placeholder="Firmenumsatz">
        </label>

        <label for="country" translate="customers.form.country" class="ng-scope">
            <%= __('country') %>
            <input class="form-control" id="country" maxlength="40" name="country" size="20" type="text" placeholder="Land">
        </label>

        <label for="city" translate="customers.form.city" class="ng-scope">
            <%= __('city') %>
            <input class="form-control" id="city" maxlength="40" name="city" size="20" type="text" placeholder="Stadt">
        </label>

        <button class="form-control btn-success" type="submit">
            <%= __('send') %>
        </button>
    </form>
</section>
