<%
var id = buildAnchor(slice.value.toArray()[0].getText('navigationName-en') || 'customer-contact-form')
var data = slice.value.toArray()[0]
%>
<section id="<%= id %>" class="contact-form">
    <h2><%= data.getText('heading-' + lang) %></h2>

    <div class="person">
        <%
        var teamMember = team.filter(function (member) {
            return member.id == data.linkedDocuments()[0].id
        })[0];
        %>

        <img src="<%= teamMember.getImage('team-member.image').url %>" alt="<%= teamMember.getText('team-member.name') %>">
        <h4><%= teamMember.getText('team-member.name') %></h4>
        <p><%= teamMember.getText('team-member.jobTitle') %></p>
    </div>

    <form id="<%= id %>-form" method="POST" action="/api/contact">
        <label for="firstname">
            Name
            <input id="firstname" maxlength="120" name="name" size="20" type="text" placeholder="Vorname" required>
        </label>

        <label for="email">
            E-Mail
            <input id="email" maxlength="80" name="email" size="20" type="text" placeholder="E-Mail" required>
        </label>

        <label class="full-width" for="text">
            <%= __('message') %>
            <textarea id="text" name="message" rows="8" placeholder="Nachricht..." required></textarea>
        </label>

        <button type="submit">
            <%= __('send') %>
        </button>
    </form>

    <script>
    $('#<%= id %>-form').submit(function (e) {
        e.preventDefault()
        $.ajax({
            url: '/api/contact',
            type: 'post',
            data: $('#<%= id %>-form').serialize(),
            success: function () {
                var dialog = $('<div id="__dialog" class="dialog"><div><h3><%= data.getText('message-heading-' + lang) %></h3><p><%= data.getText('message-' + lang) %></p></div></div>')

                $('body').append(dialog)
                $('#__dialog').toggleClass('active')

                setTimeout(function () {
                    $('#__dialog').toggleClass('active')
                    $('#<%= id %>-form').trigger('reset');
                }, 2500)
            }
        })
    });
    </script>
</section>
