<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <%- include(headTemplate); %>

    <!-- TODO Favicon -->

    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <nav>
        <img src="/assets/images/logo.png" alt="Acomodeo">

        <div class="nav-links">
            <%
            for(var i = 0; i < pages.length; i++) {
                var p = pages[i];%>
                <a
                    <% if((template == 'blog-post') ?  (p.uid == 'blog') : (page.uid == p.uid)) { %>
                        class="active"
                    <% } %>
                    href="/<%= lang %>/<%= p.uid %>"><%= p.getGroup('page.navigationName').toArray()[0].getText(lang) %>
                </a>
                <%
            }
            %>
        </div>
        <div class="language-links">
            <a href="<%= languageLinks['en'] %>" <% if(lang == 'en') { %>class="active" <% } %>><%= lang == 'en' ? 'english' : 'englisch' %></a> /
            <a href="<%= languageLinks['de'] %>" <% if(lang == 'de') { %>class="active" <% } %>><%= lang == 'en' ? 'german' : 'deutsch' %></a>
        </div>
    </nav>

    <style>
        header {
            background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ), url("<%= template == 'blog-post' ? blogPost.getImage('blog-post.previewImage').url : page.getImage('page.headerImage').url %>");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            background-size: cover;
        }
    </style>

    <header>
        <div class="container">
            <% if(template == 'blog-post') { %>
                <h1>Blog</h1>
            <% } else { %>
                <%- page.getGroup('page.headerText').toArray()[0].getStructuredText(lang).asHtml() %>
            <% } %>
        </div>
    </header>

    <main>
        <%- include(template); %>
    </main>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 100) {
                $('nav').addClass('scrolled');
            } else {
                $('nav').removeClass('scrolled');
            }
        });
    </script>

</body>

</html>
