<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <%- include(headTemplate); %>

    <!-- TODO Favicon -->

    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/styles/style.css">

    <link rel="icon" type="image/png" href="/favicon.png" />

    <script type="application/ld+json">
        <%- include('company-jsonld'); %>
    </script>
</head>

<body>

    <nav>
        <img src="https://static.acomodeo.com/images/logo-small.png" alt="Acomodeo">

        <div class="nav-container">
            <ul class="nav-links">
                <%
                for(var i = 0; i < pages.length; i++) {
                    var p = pages[i];

                    if(!p.getBoolean('page.isInNavigation'))
                    continue;
                    %>
                    <li>
                        <a
                            <% if((template == 'blog-post') ?  (p.uid == 'blog') : (page.uid == p.uid)) { %>
                                class="active"
                            <% } %>
                            href="/<%= lang %>/<%= p.uid %>"><%= p.getGroup('page.navigationName').toArray()[0].getText(lang) %>
                        </a>
                        <ul>
                            <%
                            var slices = p.getSliceZone('page.body').slices;

                            slices.forEach(function (slice) {
                            %>
                            <li>
                                <a href="/<%= lang %>/<%= p.uid %>#<%= slice.sliceType %>"><%= slice.sliceType %></a>
                            </li>
                            <% });%>
                        </ul>
                    </li>
                    <%
                    }
                %>
            </ul>

            <div class="language-links">
                <a href="<%= languageLinks['en'] %>" <% if(lang == 'en') { %>class="active" <% } %>>en</a> /
                <a href="<%= languageLinks['de'] %>" <% if(lang == 'de') { %>class="active" <% } %>>de</a>
            </div>

            <button onclick="$('.nav-container').removeClass('shown')"><img src="/assets/images/close.png" alt="menu"></button>
        </div>

        <button onclick="$('.nav-container').addClass('shown')"><img src="/assets/images/menu.png" alt="menu"></button>
    </nav>

    <style>
        header::before {
            content: ' ';
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ), url("<%= template == 'blog-post' ? blogPost.getImage('blog-post.previewImage').url : page.getImage('page.headerImage').url %>");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            will-change: transform;
            z-index: -1;
        }
    </style>

    <header>
        <div class="container">
            <% if(template == 'blog-post') { %>
                <h1>Blog</h1>
            <% } else { %>
                <%- page.getGroup('page.headerText').toArray()[0].getStructuredText(lang).asHtml() %>
            <% } %>
        </div>
    </header>

    <main>
        <%- include(template); %>
    </main>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script>
        var nav = $('nav');

        $(window).scroll(function() {
            if ((document.documentElement.scrollTop || document.body.scrollTop) > 100) {
                nav.addClass('scrolled');
            } else {
                nav.removeClass('scrolled');
            }
        });

        (function(document, history, location) {
          var HISTORY_SUPPORT = !!(history && history.pushState);

          var anchorScrolls = {
            ANCHOR_REGEX: /^#[^ ]+$/,
            OFFSET_HEIGHT_PX: 50,

            /**
             * Establish events, and fix initial scroll position if a hash is provided.
             */
            init: function() {
              this.scrollToCurrent();
              window.addEventListener('hashchange', this.scrollToCurrent.bind(this));
              document.body.addEventListener('click', this.delegateAnchors.bind(this));
            },

            /**
             * Return the offset amount to deduct from the normal scroll position.
             * Modify as appropriate to allow for dynamic calculations
             */
            getFixedOffset: function() {
              return this.OFFSET_HEIGHT_PX;
            },

            /**
             * If the provided href is an anchor which resolves to an element on the
             * page, scroll to it.
             * @param  {String} href
             * @return {Boolean} - Was the href an anchor.
             */
            scrollIfAnchor: function(href, pushToHistory) {
              var match, rect, anchorOffset;

              if(!this.ANCHOR_REGEX.test(href)) {
                return false;
              }

              match = document.getElementById(href.slice(1));

              if(match) {
                rect = match.getBoundingClientRect();
                anchorOffset = window.pageYOffset + rect.top - this.getFixedOffset();
                window.scrollTo(window.pageXOffset, anchorOffset);

                // Add the state to history as-per normal anchor links
                if(HISTORY_SUPPORT && pushToHistory) {
                  history.pushState({}, document.title, location.pathname + href);
                }
              }

              return !!match;
            },

            /**
             * Attempt to scroll to the current location's hash.
             */
            scrollToCurrent: function() {
              this.scrollIfAnchor(window.location.hash);
            },

            /**
             * If the click event's target was an anchor, fix the scroll position.
             */
            delegateAnchors: function(e) {
              var elem = e.target;

              if(
                elem.nodeName === 'A' &&
                this.scrollIfAnchor(elem.getAttribute('href'), true)
              ) {
                e.preventDefault();
              }
            }
          };

          window.addEventListener(
            'DOMContentLoaded', anchorScrolls.init.bind(anchorScrolls)
          );
        })(window.document, window.history, window.location);
    </script>

</body>

</html>
