<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <%- include(headTemplate); %>

    <!-- TODO Favicon -->

    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/styles/style.css">

    <link rel="icon" type="image/png" href="/favicon.png" />

    <base href="/<%= lang %>/">

    <script type="application/ld+json">
        <%- include('company-jsonld'); %>
    </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>

<body>

    <div class="dialog">
        <div>
            <h3>Wir melden uns!</h3>
            <p>
                Wir haben ihre Kontaktanfrage erhalten und melden uns so schnell wie möglich.
            </p>
        </div>
    </div>

    <nav>
        <img src="https://static.acomodeo.com/images/logo-small.png" alt="Acomodeo">

        <div class="nav-container">
            <ul class="nav-links">
                <%
                for(var i = 0; i < pages.length; i++) {
                    var p = pages[i];

                    if(!p.getBoolean('page.isInNavigation'))
                    continue;
                    %>
                    <li>
                        <a
                            <% if((template == 'blog-post') ?  (p.uid == 'blog') : (page.uid == p.uid)) { %>
                                class="active"
                            <% } %>
                            href="<%= p.uid %>"><%= p.getGroup('page.navigationName').toArray()[0].getText(lang) %>
                        </a>
                        <%
                        if(p.getBoolean('page.hasSubNavigation')) {
                            %>
                            <ul>
                            <%
                            var slices = p.getSliceZone('page.body').slices;

                            function renderSubNavLink(navName) {
                                %>
                                <li>
                                <a href="<%= p.uid %>#<%- buildAnchor(navName) %>">
                                <%= navName %>
                                </a>
                                </li>
                                <%
                            }

                            var subLinks = [];

                            slices.forEach(function (slice) {
                                if(slice.sliceType == 'products') {
                                    products.forEach(function (product) {
                                        subLinks.push(product.getText('product.title-en'));
                                    });
                                } else {
                                    if(!!slice.value.toArray && !!slice.value.toArray()[0].getText('navigationName-' + lang))
                                        subLinks.push(slice.value.toArray()[0].getText('navigationName-en'));
                                }
                            });

                            subLinks.forEach(renderSubNavLink);

                            var additionalLinks = p.getGroup('page.dropdownNavLinks');

                            if(additionalLinks) {
                                additionalLinks = additionalLinks.toArray();

                                additionalLinks.forEach(function (link) {
                                    %><li><a href="<%= link.getText('link') %>"><%= link.getText('linkCaption-' + lang) %></a></li><%
                                });
                            }

                            %>
                            </ul>
                        <% } %>
                    </li>
                    <%
                    }
                %>
            </ul>

            <div class="language-links">
                <a href="<%= languageLinks['en'] %>" <% if(lang == 'en') { %>class="active" <% } %>>en</a> /
                <a href="<%= languageLinks['de'] %>" <% if(lang == 'de') { %>class="active" <% } %>>de</a>
            </div>

            <button onclick="$('.nav-container').removeClass('shown')"><img src="/assets/images/close.png" alt="menu"></button>
        </div>

        <button class="icon-button" onclick="$('.nav-container').addClass('shown')"><img src="/assets/images/menu.png" alt="menu"></button>
    </nav>

    <style>
        header::before {
            content: ' ';
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(rgba(255, 255, 255, .9), rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0)), url("<%= template == 'blog-post' ? blogPost.getImage('blog-post.previewImage').url : page.getImage('page.headerImage').url %>");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            will-change: transform;
            z-index: -1;
        }
    </style>

    <header>
        <div class="container">
            <% if(template == 'blog-post') { %>
                <h1>Blog</h1>
            <% } else { %>
                <%- page.getGroup('page.headerText').toArray()[0].getStructuredText(lang).asHtml() %>

                <% if(page.getBoolean('page.headerHasButton')) { %>
                    <button onclick="scrollToId('<%- page.getText('page.headerButtonScrollTarget') %>')"><%= page.getGroup('page.headerButtonCaption').toArray()[0].getText(lang) %></button>
                    <script>
                    function scrollToId(id) {
                        $('html, body').animate({ scrollTop: $('#' + id).offset().top + 55 },'slow')
                    }
                    </script>
                    <% } %>
            <% } %>

        </div>
    </header>

    <main>
        <%- include(template); %>
    </main>

    <footer>
        <div>
            <h5>Acomodeo</h5>
            <a href="for-operators"><%= __('forOperators') %></a>
            <a href="for-customers"><%= __('forCustomers') %></a>
            <a href="https://acomodeo.has-jobs.com">Jobs</a>
            <a href="securitysustainability"><%= __('securitySustainability') %></a>
            <a href="https://support.acomodeo.com"><%= __('help') %></a>
            <a href="https://drive.google.com/drive/folders/0B7ew1_pPZTgaUTI2emh4cm5DSWc?usp=sharing"><%= __('press') %></a>
        </div>
        <div>
            <h5><%= __('legal') %></h5>
            <a href="impress"><%= __('impress') %></a>
            <a href="terms"><%= __('agb') %></a>
            <a href="privacy"><%= __('privacy') %></a>
        </div>
        <div>
            <h5><%= __('followUs') %></h5>
            <a href="https://www.instagram.com/acomodeo/"><img src="/assets/images/instagram.png" alt="Instagram"> Instagram</a>
            <a href="https://www.facebook.com/acomodeo"><img src="/assets/images/facebook.png" alt="Facebook"> Facebook</a>
            <a href="https://www.xing.com/companies/acomodeo"><img src="/assets/images/xing.png" alt="Xing"> Xing</a>
            <a href="https://www.linkedin.com/company/acomodeo"><img src="/assets/images/linkedin.png" alt="LinkedIn"> LinkedIn</a>
        </div>
        <div>
            <h5><%= __('securePayment') %></h5>
            <div><img src="/assets/images/amex.png" alt="AMEX"> American Express</div>
            <div><img src="/assets/images/mastercard.png" alt="Mastercard"> MasterCard</div>
            <div><img src="/assets/images/visa.png" alt="Visa"> VISA</div>
        </div>
        <img src="/assets/images/pci.png" alt="">
        <img src="/assets/images/renewable.png" alt="">
    </footer>

    <script>
        var nav = $('nav');

        $(window).scroll(function() {
            if ((document.documentElement.scrollTop || document.body.scrollTop) > 100)
                nav.addClass('scrolled');
            else
                nav.removeClass('scrolled');
        });

        function offsetAnchor() {
            if(location.hash.length != 0)
                window.scrollTo(window.scrollX, window.scrollY - 55);
        }

        window.addEventListener('hashchange', offsetAnchor);
        window.setTimeout(offsetAnchor, 50);

        //replace internal /l links with correct language links
        $(document).ready(function () { $('a').each(function () {
                if( this.hostname.length && location.hostname != this.hostname )
                    this.target = '_blank'
            })
        })
    </script>

</body>

</html>
