<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <%- include(headTemplate); %>

    <!-- TODO Favicon -->

    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/styles/style.css">

    <link rel="icon" type="image/png" href="/favicon.png" />

    <script type="application/ld+json">
        <%- include('company-jsonld'); %>
    </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>

<body>

    <div class="dialog">
        <div>
            <h3>Wir melden uns!</h3>
            <p>
                Wir haben ihre Kontaktanfrage erhalten und melden uns so schnell wie möglich.
            </p>
        </div>
    </div>

    <nav>
        <img src="https://static.acomodeo.com/images/logo-small.png" alt="Acomodeo">

        <div class="nav-container">
            <ul class="nav-links">
                <%
                for(var i = 0; i < pages.length; i++) {
                    var p = pages[i];

                    if(!p.getBoolean('page.isInNavigation'))
                    continue;
                    %>
                    <li>
                        <a
                            <% if((template == 'blog-post') ?  (p.uid == 'blog') : (page.uid == p.uid)) { %>
                                class="active"
                            <% } %>
                            href="/<%= lang %>/<%= p.uid %>"><%= p.getGroup('page.navigationName').toArray()[0].getText(lang) %>
                        </a>
                        <%
                        if(p.getBoolean('page.hasSubNavigation')) {
                            %>
                            <ul>
                            <%
                            var slices = p.getSliceZone('page.body').slices;

                            function renderSubNavLink(navName) {
                                %>
                                <li>
                                <a href="/<%= lang %>/<%= p.uid %>#<%- buildAnchor(navName) %>">
                                <%= navName %>
                                </a>
                                </li>
                                <%
                            }

                            var subLinks = [];

                            slices.forEach(function (slice) {
                                if(slice.sliceType == 'products') {
                                    products.forEach(function (product) {
                                        subLinks.push(product.getText('product.title-' + lang));
                                    });
                                } else {
                                    if(!!slice.value.toArray && !!slice.value.toArray()[0].getText('navigationName-' + lang))
                                    subLinks.push(slice.value.toArray()[0].getText('navigationName-' + lang));
                                }
                            });

                            subLinks.forEach(renderSubNavLink);
                            %>
                            </ul>
                        <% } %>
                    </li>
                    <%
                    }
                %>
            </ul>

            <div class="language-links">
                <a href="<%= languageLinks['en'] %>" <% if(lang == 'en') { %>class="active" <% } %>>en</a> /
                <a href="<%= languageLinks['de'] %>" <% if(lang == 'de') { %>class="active" <% } %>>de</a>
            </div>

            <button onclick="$('.nav-container').removeClass('shown')"><img src="/assets/images/close.png" alt="menu"></button>
        </div>

        <button class="icon-button" onclick="$('.nav-container').addClass('shown')"><img src="/assets/images/menu.png" alt="menu"></button>
    </nav>

    <style>
        header::before {
            content: ' ';
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0)), url("<%= template == 'blog-post' ? blogPost.getImage('blog-post.previewImage').url : page.getImage('page.headerImage').url %>");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            will-change: transform;
            z-index: -1;
        }
    </style>

    <header>
        <div class="container">
            <% if(template == 'blog-post') { %>
                <h1>Blog</h1>
            <% } else { %>
                <%- page.getGroup('page.headerText').toArray()[0].getStructuredText(lang).asHtml() %>

                <% if(page.getBoolean('page.headerHasButton')) { %>
                    <button onclick="scrollTo('<%- page.getText('page.headerButtonScrollTarget') %>')"><%= page.getGroup('page.headerButtonCaption').toArray()[0].getText(lang) %></button>
                    <script>
                    function scrollTo(id) {
                        $('html, body').animate({ scrollTop: $('#' + id).offset().top + 55 },'slow')
                    }
                    </script>
                    <% } %>
            <% } %>

        </div>
    </header>

    <main>
        <%- include(template); %>
    </main>

    <footer>

    </footer>

    <script>
        var nav = $('nav');

        $(window).scroll(function() {
            if ((document.documentElement.scrollTop || document.body.scrollTop) > 100)
                nav.addClass('scrolled');
            else
                nav.removeClass('scrolled');
        });

        function offsetAnchor() {
            if(location.hash.length != 0)
                window.scrollTo(window.scrollX, window.scrollY - 70);
        }

        window.addEventListener("hashchange", offsetAnchor);
        window.setTimeout(offsetAnchor, 50);
    </script>

</body>

</html>
