<% for(var i = 0; i < products.length; i++) { var act = products[i]; %>
<section id="<%- buildAnchor(act.getText('product.title-en')) %>" class="product">
    <h2>
        <%= act.getText('product.title-' + lang) %><br>
        <small><%= act.getText('product.subtitle-' + lang) %></small>
    </h2>
    <img src="<%= act.getImage('product.image').url %>">
    <div>
        <%- act.getStructuredText('product.description-' + lang).asHtml() %>
    </div>
</section>
<% } %>
