<% var id = buildAnchor(slice.value.toArray()[0].getText('navigationName-en') || 'team') %>
<section id="<%- id %>" class="team">
    <input id="team_member_expand" type="checkbox">

    <h2>Team</h2>
<% for(var i = 0; i < team.length; i++) { var act = team[i]; %>
    <div>
        <img src="<%= act.getImage('team-member.image').url %>" alt="<%= act.getText('team-member.name') %>">
        <h4><%= act.getText('team-member.name') %></h4>
        <p><%= act.getText('team-member.jobTitle') %></p>
    </div>

<% } %>

    <a href="https://acomodeo.has-jobs.com/">
        <img src="/assets/images/you.jpeg" alt="Join Us">
        <h4><%= lang == 'en' ? 'You?' : 'Du?' %></h4>
        <p><%= lang == 'en' ? 'Join our Team' : 'Werde Teil unseres Teams' %></p>
    </a>

    <script>
    function onTeamExpandClick() {
        console.log('ASDF')

        if(document.getElementById('team_member_expand').checked)
            document.getElementById('<%- id %>').scrollIntoView()
    }
    </script>

    <label onclick="onTeamExpandClick()" for="team_member_expand"></label>


</section>
