<section id="workflow" class="workflow">
    <%
    var sliceGroups = slice.value.toArray();
    %>
    <h2><%= sliceGroups[0].getText('sectionHeading-' + lang) %></h2>
    <ul>
    <%
    for(var i = 0; i < sliceGroups.length; i++) { var act = sliceGroups[i];
    %>
        <li>
            <hr />
            <h3><%= act.getText('heading-' + lang) %></h3>
            <p><%- act.getStructuredText('content-' + lang).asHtml() %></p>
        </li>
    <% } %>
    <%
    for(var i = 0; i < sliceGroups.length; i++) { var act = sliceGroups[i];
    %>
        <li>
            <hr />
            <h3><%= act.getText('heading-' + lang) %></h3>
            <p><%- act.getStructuredText('content-' + lang).asHtml() %></p>
        </li>
    <% } %>
    <%
    for(var i = 0; i < sliceGroups.length; i++) { var act = sliceGroups[i];
    %>
        <li>
            <hr />
            <h3><%= act.getText('heading-' + lang) %></h3>
            <p><%- act.getStructuredText('content-' + lang).asHtml() %></p>
        </li>
    <% } %>
    </ul>
</section>
